<div id ="outer_div" class="app_outer" width="100%">
      <div id ="inner_div" class="app_inner">
         <form name="myForm" ng-submit="vm.onSubmit(myForm.$valid)" style="padding: 15px;">
            <h1 class="text-center formTitle">Application Form</h1>
            <div>
               <div class="form-group row">
                  <label class="col-xl-3 col-lg-3 col-md-3 col-sm-3">Name: <span class="text-danger">*</span></label>
                  <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9">
                     <input type="text" class="form-control" ng-model="vm.applicant.name" required/>
                  </div>
               </div>
			   <div class="form-group row">
                  <label class="col-xl-3 col-lg-3 col-md-3 col-sm-3">Gender: <span class="text-danger">*</span></label>
                  <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9">
                     <label class="radio-inline">
                           <input type="radio" name="gender" value="Male" ng-model="vm.applicant.gender" required/>
                           Male
                           </label>
                           <label class="radio-inline">
                           <input type="radio" name="gender" value="Female" ng-model="vm.applicant.gender" required/>
                           Female
                     </label>
                  </div>
               </div>
			   <div class="form-group row">
                  <label class="col-xl-3 col-lg-3 col-md-3 col-sm-3">Date of birth:: <span class="text-danger">*</span></label>
                  <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9">
                     <input type="date" class="form-control" ng-model="vm.applicant.dob" required/>
                  </div>
               </div>
               <div class="form-group row">
                  <label class="col-xl-3 col-lg-3 col-md-3 col-sm-3">Application for: <span class="text-danger">*</span></label>
                  <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9">
                     <select name="position" ng-model="vm.applicant.position" class="form-control" ng-options="name for name in vm.designationList" required>
					 	<option value="">Select a value</option>
					 </select>
                  </div>
               </div>
               <div class="form-group row">
                  <label class="col-xl-3 col-lg-3 col-md-3 col-sm-3">Email id: <span class="text-danger">*</span></label>
                  <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9">
                     <input type="email" class="form-control"  ng-model="vm.applicant.email" required/>
                  </div>
               </div>
               <div class="form-group row">
                  <label class="col-xl-3 col-lg-3 col-md-3 col-sm-3">Contact No. <span class="text-danger">*</span></label>
                  <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9">
                     <input type="tel" pattern="^\d{10}$" class="form-control" ng-model="vm.applicant.contactNo" required/>
                  </div>
               </div>
               <div class="form-group row">
                  <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                     <div class="row">
                        <label class="col-xl-6 col-lg-6 col-md-6 col-sm-6">Current CTC: <span class="text-danger">*</span></label>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                           <input type="text" class="form-control"  ng-model="vm.applicant.curr_ctc" required/>
                        </div>
                     </div>
                  </div>
                  <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                     <div class="row">
                        <label class="col-xl-6 col-lg-6 col-md-6 col-sm-6">Expected CTC: </label>
                        <div class="col-xl-6 col-lg-6  col-md-6 col-sm-6">
                           <input type="text" class="form-control"  ng-model="vm.applicant.expt_ctc" />
                        </div>
                     </div>
                  </div>
               </div>
               <div class="form-group row">
                  <label class="col-xl-3 col-lg-3 col-md-3 col-sm-3">Notice period: <span class="text-danger">*</span></label>
                  <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9">
                     <select ng-model="vm.applicant.period" class="form-control" ng-options="val for val in vm.periodList" required>
					 	<option value="">Select a value</option>
					 </select>
                  </div>
               </div>
               <div class="form-group row">
                  <label class="col-xl-3 col-lg-3 col-md-3 col-sm-3">Attach CV: <span class="text-danger">*</span></label>
                  <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9">
                     <input type="file" id="attachment" name="resume_attach" required/>
                  </div>
               </div>
               <div class="form-group row">
                  <label class="col-xl-3 col-lg-3 col-md-3 col-sm-3">Cover letter:</label>
                  <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9">
                     <textarea rows="5" class="form-control cover_textarea" ng-model="vm.applicant.cover"></textarea>
                  </div>
               </div>
               <div class="form-group row text-center">
                  <input type="submit" class="btn btn-primary"   value="Submit">
                  <button class="btn btn-default" ng-click="vm.reset_form()">Reset</button>
               </div>
            </div>
         </form>
      </div>
   </div>