<!doctype html>
<html ng-app="myModule">
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" href="style.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
  	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.11/angular.min.js"></script>
  	<script type="text/javascript" src="script.js"></script>
</head>

<body class="app_form">
	<div ng-controller="myController as vm" >
  		<div ng-include="'application.html'" ng-if="!vm.viewgrid"></div>  
 		<div ng-include="'next.html'" ng-if="vm.viewgrid"></div>  
	</div>
</body>
</html> 

