<div class="submit_form" >
	<div class="text-center submit-header">
		<span class="glyphicon glyphicon-ok-circle " style="font-size: 40px; color:green;"></span>
		<h3> Application submitted successfully.</h3>
	</div>
		
		<div id ="outer_div" class="outer_div" width="100%">
    	<div id ="inner_div" class="inner_div"> 
		
		
			<div class="row show-grid">
				<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">Name : </div>
				<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">{{vm.applicant.name}}</div>
			</div>
			
			<div class="row show-grid">
				<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">Gender : </div>
				<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">{{vm.applicant.gender}}</div>
			</div>
			
			<div class="row show-grid">
				<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">Date of birth : </div>
				<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">{{vm.applicant.dob | date: yyyy-mm-dd}}</div>
			</div>
			
			<div class="row show-grid">
				<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">Position : </div>
				<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">{{vm.applicant.position}}</div>
			</div>
			
			<div class="row show-grid">
				<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">Email id : </div>
				<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">{{vm.applicant.email}}</div>
			</div>
			
			<div class="row show-grid">
				<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">Contact No. : </div>
				<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">{{vm.applicant.contactNo}}</div>
			</div>
			
			<div class="row show-grid">
				<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">Current CTC : </div>
				<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">{{vm.applicant.curr_ctc}}</div>
			</div>
			
			<div class="row show-grid">
				<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">expected CTC : </div>
				<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">{{vm.applicant.expt_ctc}}</div>
			</div>
			
			<div class="row show-grid">
				<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">Notice period : </div>
				<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">{{vm.applicant.period}}</div>
			</div>
			<div class="row show-grid">
				<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">Attachment : </div>
				<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">{{vm.applicant.cv.name}}</div>
			</div>
			<div class="row show-grid">
				<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">Cover letter : </div>
				<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">{{vm.applicant.cover}}</div>
			</div>
		</div>	
 	</div>
	
	<div class="text-center">
		<input type="button" class="btn btn-primary " value="Back to Application" ng-click="vm.backToApplication()" />
	</div>
