.app_form {
	background: rgba(228, 228, 209, 0.6);
}

.submit_form {
	margin-bottom: 25px;
}

.outer_div {
		width: 100%; 
		text-align: center;
		margin-top:25px;
		margin-bottom:25px;
	}

.inner_div {
		display: inline-block;  
		width: 50%;
		text-align: left;
	}

.inner_div	.row:nth-of-type(odd) {
	background: rgba(204, 204, 204, 0.3);
}
.inner_div	.row:nth-of-type(even) {
	background-color:#ffffff;
}

.show-grid [class^=col-] {
	border-top: 1px solid #ddd;
    padding: 5px;
}

.app_outer {
		width: 100%; 
		text-align: center;
	}

.app_inner {
		display: inline-block;  
		width: 70%;
		text-align: left;
	}
	
.app_inner .cover_textarea {
	resize: vertical;
}

.app_inner .formTitle {
	margin-bottom: 30px;
	font-weight: bold;
}

.submit-header {
	padding-top: 20px;
}